@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Lato", sans-serif;
}

.bg-elipse {
  border-bottom-left-radius: 200% 500px;
  border-bottom-right-radius: 200% 500px;
  height: 40.625rem;
}
.bg-elipse-mobile {
  border-bottom-left-radius: 200% 500px;
  border-bottom-right-radius: 200% 500px;
  height: 45rem;
}